{% extends "base.html" %}

{% block css %}
{{ super() }}
<link href="{{ url_for('static', filename='css/games/play.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
{% endblock %}

{% block rightsidebar %}
<div id="chat">
  <ol class="chats">
  </ol>
  <textarea class="form-control chat-input" rows="3" placeholder="Chat"></textarea>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/games/views/chat.js') }}"></script>
<script>
  $(document).ready(function() {
    USER = "{{ current_user.name }}"
  });
</script>
<script src="{{ url_for('static', filename='js/games/play.js') }}"></script>
{% endblock %}