{% extends "base.html" %}
{% from "games/macros.html" import render_score %}
{% block css %}
{{ super() }}
<link href="{{ url_for('static', filename='css/games/play.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
{% endblock %}

{%block leftsidebar %}
<div id="scoreboard">
  <ol class="scores">
    {% for player in players %}
        {{ render_score(player) }}
        <hr/>
    {% endfor %}
  </ol>
</div>
{% endblock %}

{% block rightsidebar %}
<div id="chat">
  <ol class="chats">
  </ol>
  <textarea class="form-control chat-input" rows="3" placeholder="Chat"></textarea>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/games/views/chat.js') }}"></script>
<script src="{{ url_for('static', filename='js/games/views/score.js') }}"></script>
<script src="{{ url_for('static', filename='js/games/models/player.js') }}"></script>
<script>
  $(document).ready(function() {
    USER = "{{ current_user.name }}";
    GAME_ID = {{ game_id }};
    var chatView = new CHAT.ChatView()
    var scoreBoardView = new SCORE.ScoreBoardView()
    var views = [chatView, scoreBoardView]

    var gameUpdater = new WebSocket('ws://' + location.host + '/game/update-stream/' + GAME_ID)

    gameUpdater.onmessage = function(message) {
      console.log(message)
      for (index in views) {
        views[index].trigger(JSON.parse(message.data).event, message.data);
      }
    };

    window.onbeforeunload = function() {
      gameUpdater.close()
    };
  });
</script>
{% endblock %}