{% extends "base.html" %}
{% from "games/macros.html" import render_score, render_board %}
{% block css %}
{{ super() }}
<link href="{{ url_for('static', filename='css/games/play.css') }}" rel="stylesheet">
{% endblock %}

{%block leftsidebar %}
<div id="scoreboard">
  <ol class="scores">
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="board">
      {{ render_board(players) }}
    </div>
    <div class="row">
      <div class="col-md-4">
        <button id="draw-card" class="btn btn-default btn-lg" url="{{ url_for('games.draw_card', game_id=game_id) }}">Draw</button>
        <button id="flip-card" class="btn btn-success btn-lg" url="{{ url_for('games.flip_card', game_id=game_id) }}">Flip</button>
      </div>
      <div class="col-md-4">
        <div class="me center">
        </div>
      </div>
      <div class="col-md-4">
        <button id="play-card" class="btn btn-primary btn-lg center pull-right">Play</button>
        <span class="current-player pull-right"></span>
      </div>
    </div>
    <ol class="hand">
    </ol>
  </div>
</div>
{% endblock %}

{% block rightsidebar %}
<div id="chat">
  <ol class="chats">
  </ol>
  <textarea class="form-control chat-input" rows="3" placeholder="Chat"></textarea>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/games/views/chat.js') }}"></script>
<script src="{{ url_for('static', filename='js/games/views/card.js') }}"></script>
<script src="{{ url_for('static', filename='js/games/views/score.js') }}"></script>
<script src="{{ url_for('static', filename='js/games/models/player.js') }}"></script>
<script>
  $(document).ready(function() {
    var players = new PLAYER.Players;
    var scores = new SCORE.ScoreBoardView({collection: players});
    $('.scores').html(scores.render().el);

    {% for player in players %}
      var player = new PLAYER.Player({id: {{player.id }} });
      players.add(player);
      {% if loop.index0 == 0 %}
        var hand = new CARD.HandView({model: player});
        var status = new PLAYER.PlayerStatusView({model: player});
        $('.hand').html(hand.render().el);
        $('.me').html(status.render().el);
      {% endif %}
    {% endfor %}

    var currentPlayerView = new PLAYER.CurrentPlayerView({collection: players, el: '.current-player'});

    players.each(function(player) {
      player.fetch();
    });


    var drawView = new CARD.DrawView();

    USER = "{{ current_user.name }}";
    GAME_ID = {{ game_id }};
    var chatView = new CHAT.ChatView()
    var views = [chatView]

    var gameUpdater = new WebSocket('ws://' + location.host + '/game/update-stream/' + GAME_ID)

    gameUpdater.onmessage = function(message) {
      var event = JSON.parse(message.data).event;
      console.log(event)
      if (event == 'player:update') {
        players.each(function(player) {
          player.fetch();
        });
      } else {
        console.log(message)
        for (index in views) {
          views[index].trigger(JSON.parse(message.data).event, message.data);
        }
      }
    };

    window.onbeforeunload = function() {
      gameUpdater.close()
    };
  });
</script>
{% endblock %}