#games ol {
  background-color: #F9F9FF;
  border-radius: 3px;
  list-style-type: none;
  padding: 0px 0px;
  border: 1px solid #DEDEFF;
}

.game-group {
  border-bottom: 1px solid #DEDEFF;
  padding: 1px 10px;
  padding-bottom: 10px;
}

.game-group.even {
  background-color: #FFFFF5;
}