#content {
  background-color: white;
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
}

.center {
  text-align: center;
}

#left-side-bar {
  padding-left: 20px;
}

#content {
  padding-left: 5px;
  padding-right: 5px;
}

#right-side-bar {
  padding-right: 20px;
}