#chat, #scoreboard {
  border-radius: 5px;
  border: 1px solid black;
  height: 80%;
  padding: 3px;
  position: fixed;
  width: 13%;
}

.chats, .scores {
  background-color: #F5F5F5;
  height: 84%;
  margin-bottom: 4px;
  overflow-y: auto;
  padding-left: 2px;
  resize: none;
  width: 100%;
  word-wrap: break-word;
}

.chats li {
  list-style-type: none;
}

.chat-input {
  resize: none;
}

#scoreboard li {
  list-style-type: none;
}

.scores {
  height: 100%;
}

.card {
  width: 104px;
  height: 144px;
}

.hand li {
  list-style-type: none;
  display: inline;
  margin: 0 2px;
}