#game-state  h2 {
  margin-top: 0;
}

#game-name h1, .trump h2 {
  margin-top: 0;
}

.trump-suit {
  max-height: 30px;
  width: 22px;
}

#chat, #scoreboard {
  border-radius: 5px;
  border: 1px solid black;
  height: 500px;
  padding: 3px;
}

#scoreboard {
  min-height: 500px;
}

.chats, .scores {
  background-color: #F5F5F5;
  height: 84%;
  margin-bottom: 4px;
  overflow-y: auto;
  padding-left: 2px;
  resize: none;
  width: 100%;
  word-wrap: break-word;
}

.chats li {
  list-style-type: none;
}

.chat-input {
  resize: none;
}

#scoreboard li {
  list-style-type: none;
}

.scores {
  height: 100%;
}

.card {
  width: 104px;
  height: 144px;
}

.hand {
  margin-top: 5px;
}

.hand li {
  list-style-type: none;
  display: inline;
  margin: 0 2px;
}

.board {
  background-color: #E9C2A6;
  border: 1px solid #995511; 
  border-radius: 5px;
  height: 320px;
  padding: 5px;
}

.me, .current-player {
  margin-bottom: 17px !important;
  margin-top: -10px !important;
  word-wrap: break-word;
}

.current-player {
  color: #5cb85c;
}

#draw-card, #flip-card, #play-card {
  margin-top: 10px;
  min-width: 100px;
}

.center {
  margin: 0 auto;
}

#content {
  border: none;
}